// #  Typography

// Roboto Condensed
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/RobotoCondensed-Regular-webfont.woff") format("woff"),
       url("../fonts/Roboto/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Roboto Bold
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Bold-webfont.woff") format("woff"),
       url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

// Roboto Italic
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Bold-webfont.woff") format("woff"),
       url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

// Roboto Bold Italic
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-BoldItalic-webfont.woff") format("woff"),
       url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

//Rubik Regular
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

//Rubik Bold
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Bold.ttf') format("truetype");
  font-weight: bold;
  font-style: normal;
}

//Rubik Italic
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Italic.ttf') format("truetype");
  font-weight: normal;
  font-style: italic;
}

//Rubik Bold Italic
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-BoldItalic.ttf') format("truetype");
  font-weight: bold;
  font-style: italic;
}


/* Preamble:
The typography variable config has been been laid out according to the logical levels that exist. This is mostly categorised by area or taxonomy
and we have tried to be as logical as possible to keep the variables modular and helpful.
*/

// Base typography
$base__font-family : "Roboto", Tahoma, sans‑serif;
$base-header__font-family : "Rubik", Verdana, Geneva, sans-serif;
